/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 768px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #2B3035; /* Darker than BS dark*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 15px;
    padding-left: 5px; /* Place content 60px from the top */
    transition: 0.4s; /* 0.5 second transition effect to slide in the sidenav */
    color: white;
    box-shadow: -10px 0 7px -2px #1a1a1a;
}

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }


.close {
    width: 32px;
    height: 32px;
    position: relative;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 10px;
    }

        .sidenav a {
            font-size: 18px;
        }
}